[versions]
agp = "8.2.2"
composeCompiler = "1.5.10"
coroutines = "1.8.0"
hilt = "2.50"
hiltExtensions = "1.2.0"
kotlin = "1.9.22"
lifecycle = "2.7.0"
aboutLibraries = "10.10.0"

[libraries]
kotlin = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }

appcompat = { module = "androidx.appcompat:appcompat", version = "1.6.1" }
core-ktx = { module = "androidx.core:core-ktx", version = "1.12.0" }
material = { module = "com.google.android.material:material", version = "1.11.0" }
lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
work-runtime-ktx = { module = "androidx.work:work-runtime", version = "2.9.0" }
graphics-shapes = { module = "androidx.graphics:graphics-shapes", version = "1.0.0-alpha05" }

compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "composeCompiler" }
compose-bom = { module = "androidx.compose:compose-bom", version = "2024.02.01" }
compose-runtime = { module = "androidx.compose.runtime:runtime" }
compose-material3 = { module = "androidx.compose.material3:material3" }
compose-ui = { module = "androidx.compose.ui:ui" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }
compose-ui-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview" }

dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "hilt" }
hilt-compiler = { module = "androidx.hilt:hilt-compiler", version.ref = "hiltExtensions" }
hilt-navigation-compose = { module = "androidx.hilt:hilt-navigation-compose", version.ref = "hiltExtensions" }
hilt-work = { module = "androidx.hilt:hilt-work", version.ref = "hiltExtensions" }

ucrop = { module = "com.github.yalantis:ucrop", version = "2.2.8" }

about-libraries = { module = "com.mikepenz:aboutlibraries-compose", version.ref = "aboutLibraries" }

leakcanary = { module = "com.squareup.leakcanary:leakcanary-android", version = "2.13" }

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version = "1.9.22-1.0.17" }
hilt = { id = "com.google.dagger.hilt.android", version.ref = "hilt" }
spotless = { id = "com.diffplug.spotless", version = "6.25.0" }
cache-fix = { id = "org.gradle.android.cache-fix", version = "3.0.1" }
about-libraries = { id = "com.mikepenz.aboutlibraries.plugin", version.ref = "aboutLibraries" }
